body{
	font-family: "helvlight";
}

h1, h2, h3{
	font-family: "helvetica";
}

.primary_rows{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary_rows .cards{
	overflow-y: scroll;
	height: 70vh;
}

.cards{
	border-radius: 10px;
}

#row1,#row2,#row3{
	width: 20vw;
	background-color: rgba(0,200,255,1);
	padding: 7.5px;
	margin: .5vw;
	border-radius: 10px;
	display: inline-block;
}

#row1 p, #row2 p, #row3 p{
	background-color: white;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary_rows{
	margin: 5px;
}

.add_card_button{
	margin-bottom: -10px;
}